<html>
<head>
    <title>Web</title>
</head>
<body>
<h2>Articles</h2>

<ul>
    <#list articles as article>
        <li>${article.title}</li>
    </#list>
</ul>
<div>
    <h4>${article.title}</h4>
</div>
</body>
</html>
